@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang Geweigerd!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Oops.. Het spijt ons, maar je hebt geen toegang tot deze sectie.</p>
</header>
