@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging Herstellen Wachtwoord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Controleer je e-mailadres om je wachtwoord te herstellen.
</p>

