@page
@model LockoutModel
@{
    ViewData["Title"] = "Account Vergrendeld";
}

<header>
    <h1 class="text-warning"><i class="fas fa-door-closed"></i>&nbsp;@ViewData["Title"]</h1>
    <p class="text-danger">Uw account is vergendeld, neem contact op met de manager.</p>
</header>
