@page
@model LogoutModel
@{
    ViewData["Title"] = "Uitloggen";
}

<header>
    <h1 class="text-warning">@ViewData["Title"]</h1>
    <p>U bent succesvol uitgelogd! Eet smakelijk en anders alvast tot ziens.</p>
</header>