@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord herstellen";
}

<h1 class="text-warning"><i class="far fa-check-circle"></i>&nbsp;@ViewData["Title"]</h1>
<p>
    Je wachtwoord is gereset. Ga naar <a asp-page="./Login">inloggen</a>.
</p>
