@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord hersteld";
}

<h1 class="text-warning">@ViewData["Title"]</h1>
<p>
    Je wachtwoord is gereset. Ga naar <a asp-page="./Login">inloggen</a>.
</p>
