@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Wachtwoord Herstellen";
}

<h1 class="text-warning">@ViewData["Title"]</h1>
<h4>Herstel uw wachtwoord.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input class="form-control" placeholder="Email" asp-for="Input.Email"  />
                <span class="text-danger" asp-validation-for="Input.Email" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input class="form-control" placeholder="Wachtwoord" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input class="form-control" placeholder="Herhaal Wachtwoord" asp-for="Input.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-warning">Wachtwoord Resetten</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
