@model Lemon.Models.Coupon

@{
    ViewData["Title"] = "Coupon Verwijderen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data" asp-action="Remove">
    <div class="border white-background row">
        <div class="col-8">
            <h2 class="text-warning">Coupon Verwijderen</h2>
            <div class="col-10 border">
                @{
                    var base64 = Convert.ToBase64String(Model.Picture);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src="@imgsrc" style="height: 50%; width: 50%;" />
            </div>
            <br />
            <div class="col-12 pt4">
                <fieldset disabled>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Name"></label>
                        </div>
                        <div class="col-8 ">
                            <input class="form-control" asp-for="Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="CouponType"></label>
                        </div>
                        <div class="col-8 ">
                            <select class="form-control" asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="Discount"></label>
                        </div>
                        <div class="col-8 ">
                            <input class="form-control" asp-for="Discount" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="MinimumAmount"></label>
                        </div>
                        <div class="col-8 ">
                            <input class="form-control" asp-for="MinimumAmount" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="col-form-label" asp-for="IsActive"></label>
                        </div>
                        <div class="col-8 ">
                            <input type="checkbox" class="form-control" asp-for="IsActive" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-8 offset-2">
                        <partial name="_RemoveOrBackButtonPartial" model="Model.Id" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>