@{
    ViewData["Title"] = "Bestel snel een overheerlijk gerecht!";
}

<div class="row">
    <div class="col-md-3">
        <section>
            <h1 class="display-4 text-warning">Restaurant</h1>
            <p>Nunc consectetur posuere velit non pulvinar. Cras efficitur dolor id cursus elementum. Ut consequat risus non tortor rhoncus mattis. Nunc tincidunt ligula nisl, nec vehicula mauris convallis id. Praesent tortor purus, pulvinar rhoncus augue at, lacinia scelerisque ex. Maecenas volutpat arcu quis neque finibus, ut viverra justo mattis. Proin egestas rutrum dictum.</p>
        </section> 
    </div>
    <div class="col-md-9 col-md-offset-2">
        <section>
            <h1 class="display-4 text-warning">Kies je gerecht</h1>
            <h4 class="text-muted font-italic">Of gebruik het menu aan de linkerzijde.</h4>
            <hr />
            <p>Heerlijke gerechten te bestellen bij: <a class="text-warning" href="https://localhost:44350">Lemon Restaurant</a>.</p>
        </section>
    </div>
</div>
