@model Lemon.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Bestel snel een overheerlijk gerecht!";
}

<div class="row">
    <div class="col-md-3">
        <div>
            <h1 class="display-4 text-warning">Restaurant</h1>
            <p>Nunc consectetur posuere velit non pulvinar. Cras efficitur dolor id cursus elementum. Ut consequat risus non tortor rhoncus mattis. Nunc tincidunt ligula nisl, nec vehicula mauris convallis id. Praesent tortor purus, pulvinar rhoncus augue at, lacinia scelerisque ex. Maecenas volutpat arcu quis neque finibus, ut viverra justo mattis. Proin egestas rutrum dictum.</p>
        </div>
        @if (Model.Coupon.ToList().Count > 0)
        {
            <div>
                <div class="carousel" data-ride="carousel" data-interval="2500">
                    @for (int i = 0; i < Model.Coupon.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                @{
                                    var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src="@imgsrc" style="" class="d-block w-100" />
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item active">
                                @{
                                    var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src="@imgsrc" style="height: 50px; width: 50px;" class="d-block w-100" />
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-md-9 col-md-offset-2">
        <div class="white-background">
            <div>
                <h1 class="display-5 text-warning"><i class="fas fa-lemon"></i>&nbsp;Stap 1: Kies je categorie</h1>
                <hr />
                <ul class="category-toggle-list list-inline" id="menu-filters">
                    <li class="filter active mb-1 mt-1 ml-1 mr-1" data-filter=".menu-restaurant">Alle Categorieën</li>
                    @foreach (var item in Model.Category)
                    {
                        <li class="filter mb-1 mt-1 ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
                    }
                </ul>
            </div>
            <div>
                @foreach (var category in Model.Category)
                {
                    <div id="menu-wrapper" class="row">
                        <partial name="_ThumbnailAreaPartial" model="@Model.MenuItem.Where(u => u.Category.Name.Equals(category.Name))" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        src = "https://code.jquery.com/jquery-3.4.1.js"
        integrity = "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin = "anonymous" >
    </script>

    <script>

        var posts = $('.post');

        (function ($) {
            $('#menu-filters li').click(function () {
                $('#menu-filters li').removeClass('active');
                $(this).addClass('active');

                var selectedFilter = $(this).data('filter');

                $('.menu-restaurant').fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });
        })(jQuery);

    </script>

}