@{
    ViewData["Title"] = "Privacy Statement";
}
<h1 class="text-warning">@ViewData["Title"]</h1>

<p>Lemon beveiligd, versleuteld en bewaard uw persoonsgegevens en zal deze niet met derden uitwisselen
    zonder uw rechtmatige toestemming.</p>
