<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-success form-control" value="Toevoegen" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-warning form-control"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Terug</a>
    </div>
</div>