@model int

<div class="row">
    <div class="col-6">
        <a asp-action="Change" asp-route-Id="@Model" class="btn btn-primary form-control">&nbsp;&nbsp;Wijzigen</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-warning form-control"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Terug</a>
    </div>
</div>